input {
  border: 1px solid black;
  background: lightgray;
  height: 1.3em;
  margin: 1em;
  display: inline-block;
  padding: 1em;
}

html {
  background-color: beige;
}

.App {
  text-align: center;
  background-color: beige;
}

.event-item {
  border: 1px solid black;
  background: lightgray;
  margin: 1em;
  padding: 1em;
  width: 90%;
  transition: all 0.5s ease-out;
}

.event-item form {
  width: 100%;
}

@media (min-width: 900px) {
  .event-item {
    display: inline-flex;
  }
}

@media (max-width: 899px) {
  .event-item {
    display: inline-block;
  }
}

.event-item span, .event-item div {
  margin: 1em;
  border: 1px solid gray;
  padding: 1em;
  background-color: lightsteelblue;
  display: inline-block;
}

.react-calendar {
  display: inline-block;
}

button {
  padding: 0 1em;
  font-size: 1.1em;
  background-color: yellowgreen;
  border-radius: 10px;
}

button.cancel-button {
  background-color: gray;
}

button.delete-button {
  background-color: red;
}
